@import '../../../styles/constants.scss';

.block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.form {
  display: flex; 
  flex-direction: column;
  gap: 25px;
  margin: 0px auto;
  width: 288px;
}

.form__title {
  color: $formTitleColor;
}

.form__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__block {
  display: flex;
}