@import '../../styles/constants.scss';

.button {
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.3s ease;
  width: 192px;
  height: 56px;
}

.button:hover {
  transform: translateY(-3px);
}

.button__primary {
  background-color: $redColor;
  color: #fff;
  border: none;
}

/* Button Size */
.button__medium {
  padding: 10px 20px;
  font-size: 14px;
}

.button__small {
  font-size: 12px;
}