@import '../../../styles/constants.scss';

.information {
  display: flex; 
  gap: 25px;
  justify-content: flex-end; 
  padding-right: 80px;
  padding-top: 25px;
}

.information__span {
  color: $grayColor;
}

.information__number {
  display: flex;
  gap: 5px;
  color: $lightBlueColor;
}
