@import '../../../styles/constants.scss';

.information {
  display: flex; 
  gap: 25px;
  justify-content: flex-end;
}

.information__span {
  color: $grayColor;
}

.information__number {
  color: $lightBlueColor;
  display: flex;
  gap: 5px;
}
