// COLORS
$redColor: #ef3340;
$grayColor: #676f8f;
$gray2Paragraph: #676f8f;
$gray1TitlesColor: #494f66;
$gray2Color: #a3abcc;
$borderGrayColor: #c5cbe0;
$lightBlueColor: #6f7dff;
$greenColor: #43b748;
$whiteColor: #fff;
$formTitleColor: #494F66;