.checkbox {
  display: flex;
  align-items: center;
  padding: 1px;
}

.checkbox__border {
  position: relative;
  border: 2px solid #676F8F;
  border-radius: 4px;
  margin-right: 8px;
  width: 30px;
  height: 20px;
}

.checkbox__indicator {
  position: absolute;
  z-index: 1;
  background-color: #43B748;
  border-radius: 4px;
  width: 100%;
  height: 20px;
  transform: scale(0);
  transition: transform 100ms;
}

.checkbox__checked {
  transform: scale(1);
}

.checkbox__label {
  position: relative;
  top: 2px;
  color: #676F8F;
  font-size: 12px;
  line-height: 20px;
}